section.blog
  .blog-container
    .blogpage-title
      h2 Blog
      .line
      h3 CCM Architecture
      h2.announcement Blog Coming Soon, Please Check Back Soon!
    .post-1-container
      .post-1
        .left-column
        .content-column
        .right-column
