section.footer
  .footer-container
    .left-info
      p CCM Architecture
      p 111 North 81st St.
      p Seattle, WA
      p 206-595-9690
    .work-together
      a(href="#") Let's Work Together >
