section.gallery
  .gallery-container
    .gallery-title
      h2 Gallery
      .line
      h3 CCM Architecture
    .image-container
      .row1
        a.image-1(href='/assets/images/gallery/image1.jpg', data-lightbox='gallery')
        a.image-2(href='/assets/images/gallery/image2.jpg', data-lightbox='gallery')
        a.image-3(href='/assets/images/gallery/image3.jpg', data-lightbox='gallery')
      .row2
        a.image-1(href='/assets/images/gallery/image4.jpg', data-lightbox='gallery')
        a.image-2(href='/assets/images/gallery/image5.jpg', data-lightbox='gallery')
        a.image-3(href='/assets/images/gallery/image6.jpg', data-lightbox='gallery')
      .row3
        a.image-1(href='/assets/images/gallery/image7.jpg', data-lightbox='gallery')
        a.image-2(href='/assets/images/gallery/image8.jpg', data-lightbox='gallery')
        a.image-3(href='/assets/images/gallery/image9.jpg', data-lightbox='gallery')
