section.navbar
  .navbar-container
    .navbar
      ul.desktop-nav
        li: a(href="#") Home
        li |
        li: a(href="#") About
        li |
        li: a(href="#") Projects
        li |
        li: a(href="#") Gallery
        li |
        li: a(href="#") Blog
        li |
        li: a(href="#") Houzz Profile
        li |
        li: a(href="#") Contact
