section.panel
  .panel-container
    .panels
      .panel-1
        .projects
          .icon
          .title
            p Projects
      .panel-2
        .gallery
          .icon
          .title
            p Gallery
      .panel-3
        .blog
          .icon
          .title
            p Blog
