section.panel
  .panel-container
    .panels
      a(href="projects.html").panel-1
        .projects
          .icon
          .title
            p Projects
      a(href="gallery.html").panel-2
        .gallery
          .icon
          .title
            p Gallery
      a(href="blog.html").panel-3
        .blog
          .icon
          .title
            p Blog
