section.projects
  .projects-container
    .projects-title
      h2 Projects
      .line
      h3 CCM Architecture
    .stone
      .title
        h2 Stone Residence
      .image-container
        a.image-1(href='/assets/images/stone/stone1.jpg', data-lightbox='stone')
        a.image-2(href="/assets/images/stone/stone2.jpg", data-lightbox='stone')
        a.image-3(href='/assets/images/stone/stone3.jpg', data-lightbox='stone')
        a.image-4(href='/assets/images/stone/stone4.jpg', data-lightbox='stone')
    .almond
      .title
        h2 Almond Residence
      .image-container
        a.image-1(href='/assets/images/almond/almond1.jpg', data-lightbox='almond')
        a.image-2(href="/assets/images/almond/almond2.jpg", data-lightbox='almond')
        a.image-3(href='/assets/images/almond/almond3.jpg', data-lightbox='almond')
        a.image-4(href='/assets/images/almond/almond4.jpg', data-lightbox='almond')
    .shamah
      .title
        h2 Shamah Residence
      .image-container
        a.image-1(href='/assets/images/shamah/shamah1.jpg', data-lightbox='shamah')
        a.image-2(href="/assets/images/shamah/shamah2.jpg", data-lightbox='shamah')
        a.image-3(href='/assets/images/shamah/shamah3.jpg', data-lightbox='shamah')
        a.image-4(href='/assets/images/shamah/shamah4.jpg', data-lightbox='shamah')
