section.testimonials
  .testimonials-container
    .testimonials-title
      p What Our Clients Think
    a(href="http://www.houzz.com/browseReviews/ccmellon/ccm-architecture" target="_blank").testimonials-btn-container
      p Testimonials
