<section class="navbar"><div class="navbar-container"><div class="navbar"><ul class="desktop-nav"><li><a class="first" href="index.html">Home</a></li><li>|</li><li><a href="#about">About</a></li><li>|</li><li><a href="projects.html">Projects</a></li><li>|</li><li><a href="gallery.html">Gallery</a></li><li>|</li><li><a href="blog.html">Blog</a></li><li>|</li><li><a href="/index.html#houzz">Houzz Profile</a></li><li>|</li><li><a href="testimonials-page.html">Testimonials</a></li><li>|</li><li><a class="last" href="contact.html">Contact</a></li></ul></div></div><!--.mobile-nav.hamburger
ul.hamburger
  li: a(href="#") Home
  li: a(href="#") About
  li: a(href="projects.html") Projects
  li: a(href="#") Gallery
  li: a(href="#") Blog
  li: a(href="#") Houzz Profile
  li: a(href="#") Contact--></section>