.contact
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: auto
  width: 100%
  .contact-title
    display:flex
    justify-content: center
    align-items: center
    width: 100%
    text-align: center
    font-family: "Avenir"
    margin: 0px 6px
    h2
      color: $darkgrey
      font-size: 24pt
      margin: 0
      margin-top: 30px
      letter-spacing: 2px
    h3
      font-weight: lighter
      color: $darkgrey
      margin: 0
      margin-top: 6px
      font-size: 10pt
      letter-spacing: 1px
    .contact-cta
      margin-top: 20px
      font-size: 14pt
  .contact-container
    display: flex
    flex-direction: row
    justify-content: space-around
    height: auto
    width: 900px
  .contact-title
  .left-info
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .left-logo
      display: flex
      height: 120px
      width: 100%
      margin-bottom: 20px
      background:
        image: url(/assets/images/main-logo.png)
        size: contain
        repeat: no-repeat
        position: center
    .left-text
      align-self: center
      font-family: "Avenir"
      color: $darkgrey
      line-height: 35px
      font-size: 16pt
      p
        margin: 0
  .line
    width: 1px
    height: 300px
    background: $darkgrey
    align-self: center
  .contact-form
    display: flex
    flex-direction: column
    margin-top: 40px
    margin-bottom: 40px
    color: $darkgrey
    .form-container
      display: flex
      .name,
      .email,
      .phone,
      .message
        p
          font-family: "Avenir"
          font-size: 14px
          text-decoration: underline
          padding: 0
          margin: 0
          margin-bottom: 5px
        input
          margin-bottom: 10px
          font-family: "Avenir"
        textarea
          font-family: "Avenir"
      .name,
      .email,
      .phone
        .yourname,
        .youremail,
        .yourphone
          width: 350px
          height: 30px
          border: 1px solid $darkgrey
          border-radius: 3px
      .message
        .yourmessage
          width: 550px
          height: 200px
          border: 1px solid $darkgrey
          border-radius: 3px
          text-align: top
          resize: none
      .button
        .submitbutton
          width: 100px
          color: white
          height: 35px
          font-family: "Avenir"
          float: right
          border-radius: 3px
          background: $darkgrey
          border: 1px solid white
        .submitbutton:hover
          background-color: #2ecc71
          color: white
          border: 1px solid white

@media(max-width:860px)
  .contact
    .contact-title
      margin-top: 35px !important

@media(max-width:900px)
  .contact
    width: 100% !important
    .contact-title
      .contact-cta
        margin-bottom: 30px !important
    .contact-container
      width: 100% !important
      flex-direction: column !important
      .contact-form
        align-self: center !important
        .name,
        .email,
        .phone
          .yourname,
          .youremail,
          .yourphone
            width: 100% !important
      .line
        display: none !important

@media(max-width:620px)
  .contact
    display: flex
    width: 100% !important
    .contact-title
      width: 100% !important
    .contact-container
      justify-content: center !important
      flex-direction: column !important
      .contact-form
        flex-direction: column !important
        width: 100% !important
        align-self: center !important
        align-items: center !important

@media (max-width: 600px)
  .contact
    .contact-form
      .name,
      .email,
      .phone
        .yourname,
        .youremail,
        .yourphone
          width: 70% !important
      .message
        .yourmessage
          width: 90vw !important
