.houzz
  display: flex
  flex-direction: row
  .houzz-container
    display: flex
    justify-content: center
    height: 275px
    width: 100%
    .houzz-logo
      display: flex
      justify-content: center
      height: 100%
      width: auto
      background: white
      margin-right: 50px
      .logo
        height: 300px
        width: 300px
        background:
          image: url(/assets/images/houzz-logo.png)
          repeat: no-repeat
          position: center
          size: contain
    .houzz-slider
      margin-top: -3px
      margin-left: 50px
